
div{
    height: 200px;
    width:500px;
    background-color: pink;
    border-width: 5px;
    border-style: solid;
    border-color: black;
}

h1{
    border-width: 2px;
    border-style:  dashed;
    border-color: green;
}



/* Border Shorthand */
div{
    height: 200px;
    width:500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid black;
}

h1{
    /* border-width: 2px;
    border-style:  dashed;
    border-color: green; */
    border: 2px dashed green;
}


/* Border size */
div{
    border-left-color: blue;
    border-left-style: dashed;
}

/* Border radius */
div{
    border-radius: 10px;
}

/* Padding */
div{
    padding: 50px;
}

/* Padding shorthand */
div{
    padding: 50px;
    padding:  1px 2px;   /* left & right */
    padding:  1px 2px 3px;
}

/* Margin */
div{
    margin: 20px;
}

/*  */
div{
    margin: 10px 20px 30px;
}



/* Display property */

span{
    background-color: lime;
    border: 2px solid black;
    height: 10px;
    width: 20px;
    padding: 50px;
    margin: 20px;
}


/* Display-inline block */
.in-block{
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}